body{
  background-repeat:repeat;
  background-image: url(wallpaper.jpg) !important;
  background-blend-mode:soft-light;!important;
  background-color: #230011 !important;
  /*opacity:0.8;*/

}

.header{
  display: none;
  /*color: #FCDEF0 !important;*/
  opacity:1.0;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  background-color: rgb(23,00,11);
  width:100%;
  margin-top: 0px !important;
  color: #FCDEF0;

}
.container-fluid{
  margin-top: 0.1% !important;
  border-bottom: 1px ridge;
  border-color: rgba(255, 220, 255, 0.6);

}
ul{
  margin-left: 70% !important;
  list-style: none;
  background-color: rgb(23,00,11);
  width: 100%;
  position: absolute;
  float: none;
  border-color: rgba(219, 142, 194, 0.0)!important;
  /*color:#ddd !important;*/
}
li>a{
  display:inline;
  text-decoration: none !important;
  color: #FCDEF0 !important;
  font-size: 20px;
  padding-left: 20px;
  position:relative;
  /*background-color: #FCDEF0;*/
}
.navbar-default>.nav nav-tabs>li > a:focus{
  background-color: #FDEFF1;
}
.navbar-text{
  color: #FCDEF0 !important;
  display:flex;
  position: fixed;
  position:absolute;
  margin-left: 5% !important;
}

/*p{
  margin-top: 10px;
  position relative;
  text-align: center;

}*/
.hello{
  /*display:none;*/
  display: flex;
  height:400px;
  background-color: rgba(100, 100, 100, 0.6);
  position:relative;
  overflow:visible;
  color: #FCDEF0;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  margin-top: 10% !important;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;

}
#text{
  /*display:flex;*/
  text-align: center;
  margin-left: 40%;
  line-height: 100%;
  margin-top: 20%;
  position: relative;

}

/*#second{
  height:300px;
  width:100%;
    background-color: rgba(100, 100, 100, 0.2);
  position:static;
  overflow: scroll;
}
#third{
  height:500px;
  width:100%;
    background-color: rgba(100, 100, 100, 0.4);
  position:static;
  overflow: scroll;*/

}
